@model PersonalAssistant.Models.Plan

@{
    ViewBag.Title = "Delete Plan";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this Plan?</h3>
<div >
    <hr />
    <dl class="col-sm-2; card text-info border-info mb-3" style="max-width:20rem; opacity:0.8;">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayOfPlan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayOfPlan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-info" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
