@model IEnumerable<PersonalAssistant.Models.Plan>

@{
    ViewBag.Title = "Index";
}

<h2>Your Schedule</h2>
@using (Html.BeginForm("Index", "Plans", FormMethod.Get))
{
    @Html.TextBox("Input")
    <input type="submit" value="Search" class="btn-info" style="opacity: 0.8;" />
}
<p>
        @Html.ActionLink("Create New", "Create")

</p>
<table class="table-info" border="1px solid black" width="100%" style="opacity:0.8;">
    <tr>
        <th>
            Name
        </th>
        <th>
            Date of Event
        </th>
        <th>
           Day Of Plan
        </th>
        <th>
           Description
        </th>
        <th>Other Options</th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.StartDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DayOfPlan)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
    }

</table>
